extends layout

block content
  h1= title
  if show
    form(method='post')
      p What is your favourite season?
      ul 
        each item in data     
          li 
            label=item.title
            input(type='radio', name='quiz' value=item._id)
      input(type='submit' value='Vote')
      p If you want to see the results please vote!    
  else 
    h1 You've already voted! 
    p Results
    ul
      each item in data   
        li #{item.title} votes: #{item.vote} (#{Math.round(item.vote/sum *100)}%)

    p Votes already made: #{sum}

